/* Remove ALL Tailwind stuff */

html,
body {
  margin: 0;
  padding: 0;
}

/* Your fonts */

@font-face {
  font-family: "Cormorant Garamond";
  src: url("./assets/fonts/cormorant/CormorantGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("./assets/fonts/cormorant/CormorantGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
